.formBlock {
  margin: 150px 12rem;
  padding: 60px;
  background-color: #faf7f2;
  border-radius: 20px;
  display: flex;

  .headingSection {
    width: 50%;
    h3 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      color: #292929;
    }
    h4 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #666666;
    }
  }
  form {
    width: 50%;
  }
  .form {
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4 {
      margin: 0px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #ce2829;
    }
    .formInput {
      position: relative;
      label {
        height: 100%;
        padding: 5px;
        position: absolute;
        display: flex;
        align-items: center;
        left: 10px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #64607d;
        opacity: 0;
      }
      &:focus-within {
        label {
          opacity: 0.4;
          align-items: flex-start;
        }
        input {
          &::placeholder {
            opacity: 0;
          }
        }
      }
      input {
        width: 100%;
        padding: 0 10px;
        padding-top: 20px;
        height: 60px;
        background: #ffffff;
        border-radius: 10px;
        border: none;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
      }
    }

    button {
      height: 60px;
      background: #fdc913;
      border-radius: 5px;
      border: none;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #292929;
    }
  }
}
