.menuCover {
  padding: 0px 12rem;
  .headings {
    width: 60%;
    h3 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      color: #292929;
    }
    h4 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #666666;
    }
  }
  .menuList {
    display: flex;
    span {
      padding: 0 50px;
      border-radius: 5px 5px 0px 0px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      img {
        height: 36px;
        aspect-ratio: 1;
      }
    }
    .active {
      border: 1px solid black;
      border-bottom: none;
    }
    .inactive {
      border-bottom: 1px solid black;
    }
  }
  .listItems {
    display: flex;
    padding: 20px 0;
    gap: 20px;
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .itemCard {
      border-radius: 20px;
      background-color: #faf7f2;
      img {
        width: 225px;
        background-color: white;
      }
      h3 {
        display: flex;
        justify-content: center;
        font-family: "Martel";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #666666;
      }
      h4 {
        display: flex;
        justify-content: center;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
      }
      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        justify-content: space-around;
        font-family: "Martel";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #666666;
        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
